doctype html
html
   head
      meta(charset='utf-8')
      title Авторизация
   body
      form(method="POST")
         p Login
         input(type='text',palceholder='Login')
         p Password
         input(type='password',palceholder='Password')
         br
         button(type='submit') Send
      a(href='/register') Регистрация