doctype html
html
    head
        meta(charset='utf-8')
        title регистрация
    body
        form(method="POST")
            p email
            input(type='text' name='email' placeholder='email')
            p password
            input(type='text' name='password' placeholder='password')
            p name
            input(type='text' name='name' placeholder='name')
            p surname
            input(type='text' name='surname' placeholder='surname')
            p phone number
            input(type='text' name='phone' placeholder='phone')
            p qualification
            input(type='text' name='qual' placeholder='qualification')
            br
            button(type="submit") Send